.post-page {
    width: 100%;
    height: 47vh;
    display: flex;
    border-radius: 15px 15px 0 0;
    background-repeat: no-repeat;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 8px;
    
}
h1 {     
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        color: rgb(49, 151, 151);
    }
.detalhes-filme{
    color: black;
}

.descriçao-sobre{
    background: #615f5f;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border-left-style:none;
    
} 